# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

*.mp4
*.swf
*.mkv
*.txt
*.json
*.png
*.PNG
*.csv
!labels.csv
!leaderboard.csv
!data/figures/*/*.png
*.pyc
.DS_Store
WLASL_tools
data/subset*
data/videos
data_full
__pycache__